<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="bg-slate-50 text-slate-800">
        <!-- Navbar -->
        <nav class="py-6 px-8 flex items-center justify-between bg-slate-800 shadow-lg">
            <h1 class="text-xl text-white font-semibold">Research Management System</h1>

            <div class="space-x-4">
                <a href="#" class="text-white hover:text-sky-500 transition duration-300">About</a>

                <a href="#" class="py-2 px-6 bg-slate-600 text-white rounded-lg hover:bg-slate-500 transition duration-300">Log in</a>
                <a href="#" class="py-2 px-6 bg-sky-600 text-white rounded-lg hover:bg-sky-500 transition duration-300">Sign up</a>
            </div>
        </nav>

        <!-- Main Content -->
        <main class="py-8 px-8 max-w-4xl mx-auto">
            <header class="py-12 text-center bg-slate-200 rounded-xl shadow-lg">
                <h1 class="text-3xl font-semibold text-slate-800">Welcome to the Research Management System</h1>
                <p class="mt-4 text-lg text-slate-600">Your one-stop solution for managing research projects efficiently and effectively. Start organizing your research today.</p>
            </header>
        </main>

        <!-- Footer -->
        <footer class="py-8 px-8 bg-slate-900 text-center text-slate-400">
            <p>&copy; 2023 Research Management System. All rights reserved. Developed by BYUMVUHORE Aimable.</p>
        </footer>
    </body>
</html>
